.menu--list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 0.6rem;
    padding: 10px;
}

.menu--list-item {
    padding: 0.7rem;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0.8rem;
}

.menu--list-item:hover,
.menu--list-item:has( a.active ) {
    color: #fff;
    background-color: #3c3c3c;
    cursor: pointer;
    transition: all 0.3s ease-in;
}



.menu--list-item a {
    overflow: hidden;
    display: flex;
    gap: 5px;
    font-weight: bold;
    color: inherit;
    text-align: left;
    transition: all 0.3s ease-in;
}

.menu--list-item a.active ,
.menu--list-item a:hover {
    color: inherit;
}