.card--list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card{
    flex: 1;
    border-radius: 10px;
    background: #F3EBE5;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    
}
.card--icon{
    background: #010101;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50%;
}
.growth{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 10px;
    gap: 10px;
}
.card--header{
    background-color: #bf8282;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    width: 30%;
}
.card--header-1{
    background-color: #d1ac7e;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    width: 30%;

}
.card--header-2{
    background-color: #958ee6;
    padding: 20px;
    border-radius: 5px;
    margin-right: 5px;
    color: #fff;
    width: 30%;

}
.card--header-3{
    background-color:#92cfb5;
    padding: 20px;
    border-radius: 5px;
    margin-right:5px;
    color: #fff;
    width: 30%;
}
@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Two cards per row */
    }
}

/* Adjust the card size for small screens */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 20px); /* One card per row */
    }
}

.card--icon {
    background: #010101;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 50%;
}

.growth {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 10px;
    gap: 7px;
}

.card--header {
    background-color: #bf8282;
    padding: 15px;
    border-radius: 5px;
    
    color: #fff;
}

.card--header-1 {
    background-color: #d1ac7e;
    padding: 15px;
    border-radius: 5px;
    
    color: #fff;
}

.card--header-2 {
    background-color: #958ee6;
    padding: 15px;
    border-radius: 5px;
    
    color: #fff;
}

.card--header-3 {
    background-color: #92cfb5;
    padding: 15px;
    border-radius: 5px;
    
    color: #fff;
}
.invoice,.customer,.booking{
    font-size: 1.5rem;
}